body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0; 
}

h1 {
    color: #c7c7c7;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #c7c7c7;
    text-align: center;
    margin-top: 20px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn-listado {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #444444; 
    color: #ffffff;
    border: 1px solid #555555;
    font-weight: bold;
    width: 200px;
}

.btn-listado:hover {
    background-color: #555555;
    border-color: #666666;
}

#btnCancelar, #btnCancelarJuego {
    display: none; /* oculto */
}

#mensajeError, #mensajeErrorJuego {
    color: #ff4d4d;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.form-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.form-actions button {
    margin: 0; 
    max-width: 150px;
}


.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.edit-btn {
    background-color: #4d79ff;
    color: white;
}

ul {
    list-style-type: none;
    color: #eaffce;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

li {
    background: #333;
    color: white;
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex; 
    justify-content: space-between; /* Texto izquierda, botones derecha */
    align-items: center; 
    border: 1px solid #444;
}

form {
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.acciones {
    display: flex;
    gap: 8px; /* Espacio entre los botones de la lista */
}

/* Evita que los botones de la lista hereden el 'display: block' que centra todo */
li button {
    margin: 0; 
    display: inline-block;
}